<div class="alert alert-warning mx-auto alert-dismissible fade show mt-5 w-50 text-center" role="alert">
  <%= alert %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>