<div class="mx-auto d-flex flex-column align-items-center justify-content-end splash">
  <h2 class="my-auto splash-header">Budgetplus</h2>
  <%= link_to 'LOGIN', new_user_session_url, class:"btn button"%>
  <%= link_to 'SIGN UP', new_user_registration_url, class:"btn mb-3 mt-1"%>
</div>